<p id="notice">
  <%= notice %>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><h5><%= @user.name %> Details</h5></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Account Money</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.account_money %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_user_path(@user),:class => "btn btn-link" %> |
  <%= link_to 'Back', users_path,:class => "btn btn-link" %>
</div>